/*Cтили для index.html i portfolio.html*/
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  background: var(--title-white-color);
}
ul {
  list-style: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
/*@keyframes animateTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(100vw - 110px));
  }
}*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo-color {
  color: var(--title-text-color);
}
.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav,
.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.active-page {
  color: var(--accent-color);
}
.active-page::after {
  content: '';
  display: block;
  position: relative;
  top: 33px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  animation-name: slideInLeft;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 250ms;
  transform: translateX(0%);
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*.animate__slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}*/
.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.click {
  margin-right: 10px;
  fill: currentColor;
}

.contact-click:hover .click,
.contact-click:focus .click {
  fill: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--primary-white-color);
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

/*Главный контент*/
.main {
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background: #2f303a;
}
.overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}
.button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  margin-right: auto;
  margin-left: auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background: #188ce8;
}
.button:focus {
  color: var(--accent-color);
  background: var(--primary-white-color);
}

/*Особенности*/
.features-list {
  display: flex;
}

.features {
  padding-bottom: 94px;
}
.feature {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0px;
}
.list-img {
  margin-right: 30px;
}

.list-img:last-child {
  margin-right: 0px;
}

.img-block {
  position: relative;
}
.img-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*Деятельность-команда*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.sections {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: var(--primary-white-color);
  width: 270px;
  display: inline-block;
  justify-content: center;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team:last-child {
  margin-right: 0px;
}

.team-name {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 32px;
  border: 1px solid #eeeeee;
  border-top: 0;
  border-radius: 0px 0px 4px 4px;
}
.person {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.team-member {
  font-weight: 400;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.footer {
  color: var(--primary-white-color);
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-links {
  color: rgba(255, 255, 255, 0.6);
}
.logo-colors {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.address-nav {
  margin-left: auto;
  margin-top: 9px;
}
.imail {
  margin-top: 9px;
}
/*Портфолио*/
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:focus {
  color: var(--title-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--accent-color);
}
.buttons:hover {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.work {
  background: var(--primary-white-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work:hover,
.work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list {
  width: 370px;
}
.work-wrapper {
  overflow: hidden;
  position: relative;
}
.text-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transition: transform 250ms linear;
}
.work:hover .text-wrapper,
.work:focus .text-wrapper {
  transform: translateY(0%);
}

.picture-list > .work-list {
  margin: 0 30px 30px 0;
}

.work-list:nth-child(3n) {
  margin-right: 0px;
}

.work-list:nth-child(n + 7) {
  margin-bottom: 0px;
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  background-size: contain;
  content: '';
}

.title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 322px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-1 {
  display: flex;
  align-items: baseline;
}
.position {
  display: inline-flex;
  margin-right: 30px;
}
.position:last-child {
  margin-right: 0;
}
.list-item {
  width: 270px;
  margin-right: 30px;
}
.social-list {
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
.master {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icones {
  fill: var(--primary-white-color);
}

.master:hover,
.master:focus {
  background-color: var(--accent-color);
}
.master:hover .icons,
.master:focus .icons {
  fill: var(--primary-white-color);
}

.instagram {
  width: 20px;
  height: 20px;
  justify-content: center;
}
.twitter {
  width: 20px;
  height: 20px;
  justify-content: center;
}
.linkedin {
  justify-content: center;
  width: 20px;
  height: 20px;
}
.facebook {
  justify-content: center;
  width: 20px;
  height: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list li:not(:last-child) {
  margin-right: 10px;
}
.list-item:last-child {
  margin-right: 0px;
}

.team:first-child {
  margin-left: 0px;
}
.team:last-child {
  margin-right: 0px;
}
.team-block {
  padding: 0%;
  margin: 0px;
  display: inline-flex;
}
.portfolio {
  margin-right: 8px;
}
.portfolio:last-child {
  margin-right: 0px;
}

.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.picture-list {
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.block-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
}
.masters {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters:hover,
.masters:focus {
  background-color: var(--accent-color);
}

.client {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.client-link {
  margin-right: 30px;
}
.client-link:last-child {
  margin-right: 0px;
}
.icon-client {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover,
.client:focus {
  border-color: var(--accent-color);
}

.client:hover .icon-client,
.client:focus .icon-client {
  fill: var(--accent-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.element {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

/*МОДАЛКА*/
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;} */

/*МОДАЛКА*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  display: inline-flex;
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}

/* Модальне вікно */

.modal-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.form-comment {
  position: relative;
  margin-bottom: 20px;
}

.input-box {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
  width: 100%;
  height: 138px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-input:hover,
.form-message:hover,
.form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.form-message::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  margin-top: 20px;
  padding-left: 12px;
}
.checkbox {
  position: relative;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0px;
  width: 16px;
  height: 15px;
}

.label-checkbox {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 7px;
}
.input-checkbox {
  width: 16px;
  height: 15px;
  /*visibility: hidden*/
}
.checkbox-icon {
  position: absolute;
  display: flex;
  top: 0px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  display: inline-flex;
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}

.form-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: outline-offset 250ms var(--timing-function);
  color: var(--accent-color);
}
.form-link:hover,
.form-link:focus {
  outline-offset: -1px;
}
.form-link:hover,
.form-link:focus {
  animation-name: ChangeColor;
  animation-duration: 250ms;
  animation-timing-function: var(--timing-function);
}
@keyframes ChangeColor {
  0% {
    color: var(--accent-color-primary);
  }
  50% {
    color: var(--theme-color);
  }
  100% {
    color: var(--accent-color-primary);
  }
}
.form-submit {
  display: block;
  padding: 10px 55px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: background-color var(--transition), box-shadow var(--transition);
  border: none;
  margin: auto;
  margin-top: 30px;
}
.form-submit:hover,
.form-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mailing-list {
  margin-left: 93px;
  width: 570px;
  height: 86px;
}
.submit {
  position: relative;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  left: 12px;
  display: flex;
}
.mailing-list {
  margin-left: 93px;
  width: 570px;
  height: 86px;
}
.submit {
  position: relative;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  left: 12px;
  display: flex;
}
.subscribe {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border-color: #e5e5e5;
  background-color: rgba(47, 48, 58, 1);
  padding-left: 16px;
  color: var(--primary-text-color);
}
.mailing-input::placeholder {
  font-size: 16px;
  border-color: 1px solid #188ce8;
}

.miling-icon {
  margin-left: 10px;
}
